header{
  height: 100px;
}

.col.bg-black{
  display: flex;
  justify-content: flex-end;
  line-height: 30px;
  color: white;
}

.logo{
  width: 60px;
}

.logo img{
  width: 100%;
}

.ab-menu-xl{
  padding-right: 0;
  padding-left: 0;
}

.navbar{
  padding-top: 0;
  background-color: white;
}

.navbar{
  padding-left: 0;
  padding-right: 0;
}

.ab-mobile-menu{
  padding-left: 0;
  padding-right: 0;
}


form li{
  list-style: none;
}

form li a{
  color: black !important;
  text-decoration: none;
}

.ab-btn{
  border-radius: 20px;
  height: 40px;
}

.search{
  width: 25px;
  margin-left: 20px;
}

.search img{
  width: 100%;
}


.jumbotron .container-fluid{
  height: 500px;
  background-color: yellow;
}


.two{
  height: 500px;
  background-color: red;
}

.six{
  height: 500px;
}