header{
  height: 100px;
}

.col.bg-black{
  display: flex;
  justify-content: flex-end;
  line-height: 30px;
  color: white;
}

.logo{
  width: 60px;
}

.logo img{
  width: 100%;
}

.ab-menu-xl{
  padding-right: 0;
  padding-left: 0;
}

.navbar{
  padding-top: 0;
  background-color: white;
}

.navbar>.container-fluid{
  padding-left: 0;
}


.jumbotron .container-fluid{
  height: 500px;
  background-color: yellow;
}


.two{
  height: 500px;
  background-color: red;
}

.six{
  height: 500px;
}