header{
  height: 100px;
}

.col.bg-black{
  display: flex;
  justify-content: flex-end;
  line-height: 30px;
  color: white;
}

.logo{
  width: 60px;
}

.logo img{
  width: 100%;
}

.ab-menu-xl{
  padding-right: 0;
  padding-left: 0;
}

.navbar{
  padding-top: 0;
  background-color: white;
}

.navbar{
  padding-left: 0;
  padding-right: 0;
}

.ab-mobile-menu{
  padding-left: 0;
  padding-right: 0;
}


form li{
  list-style: none;
}

form li a{
  color: black !important;
  text-decoration: none;
}

.ab-btn{
  border-radius: 20px;
  height: 40px;
}

.search{
  width: 25px;
  margin-left: 20px;
}

.search img{
  width: 100%;
}


.jumbotron{
  width: 100%;
  min-height: 570px;
  color: white;
  position: relative;
}

.sfondo-jumbo{
  width: 100%;
  background-size: cover;
}

.retournal{
  width: 50%;
}

.jumbotron .container{
  position: absolute;
  top: 40%;
  left: 7%;
}

.jumbotron .container img, .jumbotron .container h2, .jumbotron .container p{
  padding-bottom: 15px;
}


.bg-orange{
  background-color: #CD3D0F;
  color: white;
}


.two{
  height: 500px;
  background-color: red;
}

.six{
  height: 500px;
}